In [5]:
import os, pandas as pd

# Objective of this Files
In file we will write code to generate report form the log of AWaRe
The Report will have two charts 
1. CHART1 : A Pie chart shoing major Softwares used such as Google Chrome
2. CHART2 :When we click on any section of Pie Chart(Any application), an bar-chart opens contain files names on any application (As we create Chart we will improvise based on Char.js capablity. There will be multiple charts,

# Step 1: Filtering
Data Filtering
1. Convert all "NaN" in -window- level to "Ideal"  ------------ Done
2. Delete First Entry ------------- Done
3. (Optional)Substract consequtive entries in -Time Stamp- find duration and make a fresh coulum -duration-

In [51]:
log = pd.read_csv("C:/Users/manis/PycharmProjects/Jupyter projects/awl.csv") #call csv
log.fillna('Ideal', inplace=True) #Convert all "NaN" in -window- level to "Ideal"
log = log.drop(log.index[0])#Delete First Entry
log.head()

,Unnamed: 0,Time Stamp,Window,Suration
1,1,2020-05-14 15:11:03.071987,Ideal,11
2,2,2020-05-14 15:11:14.086298,HM3H - Capcity - Excel,17
3,3,2020-05-14 15:11:31.098990,Meet - Capacity Overview Review session - Goog...,3
4,4,2020-05-14 15:11:34.105939,Ideal,1
5,5,2020-05-14 15:11:35.110937,HM3H - Capcity - Excel,3

# Step 2: CHART 1
1. Create a datafrme which cab be used to plot chart, in same way way as we do in excel. Alternative suggesion are welcome
2. Convert Datasheet into list

# Step 3: CHART 2
1. Create a datafrme for each section of Pie-chart which cab be used to plot chart, in same way way as we do in excel. Note Every item will be poltted. Alternative suggesion are welcome
2. Convert Datasheet into list

# Improvement
1. Add datewise Filter
2. When logs are created for months innovative ways has to be thaught of to report