# Objective of this Files
In file we will write code to generate report form the log of AWaRe
The Report will have two charts 
1. CHART1 : A Pie chart shoing major Softwares used such as Google Chrome
2. CHART2 :When we click on any section of Pie Chart(Any application), an bar-chart opens contain files names on any application (As we create Chart we will improvise based on Char.js capablity. There will be multiple charts,

# Step 1: Filtering
Data Filtering
1. Convert all "NaN" in -window- level to "Ideal"  ------------ Done
2. Delete First Entry ------------- Done
3. (Optional)Substract consequtive entries in -Time Stamp- find duration and make a fresh coulum -duration-

##### Importing Necessary Library

In [42]:
import os, pandas as pd
import datetime

##### Import the csv generated using the aware utility and converting the time string into date time format

In [43]:
df = pd.read_csv("awl.csv", index_col='Unnamed: 0')
#Fill all the empty cell with Ideal value
df.fillna('Ideal', inplace=True) 
#date_object = datetime.datetime.strptime(DataString, '%Y-%m-%d %H:%M:%S.%f')
df['time'] = df['Time Stamp'].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))

In [44]:
df.head(5)

,Time Stamp,Window,Suration,time
0,2020-05-14 15:11:02.058370,abc,0,2020-05-14 15:11:02.058370
1,2020-05-14 15:11:03.071987,Ideal,11,2020-05-14 15:11:03.071987
2,2020-05-14 15:11:14.086298,HM3H - Capcity - Excel,17,2020-05-14 15:11:14.086298
3,2020-05-14 15:11:31.098990,Meet - Capacity Overview Review session - Goog...,3,2020-05-14 15:11:31.098990
4,2020-05-14 15:11:34.105939,Ideal,1,2020-05-14 15:11:34.105939

In [45]:
type(df['time'][0])

pandas._libs.tslibs.timestamps.Timestamp

##### Creating a function to find the time difference between two application, and storing the value in column

In [46]:
def diff_times_in_seconds(p, q):
    # caveat emptor - assumes t1 & t2 are python times, on the same day and t2 is after t1
    a, b, c, d = p.time().hour, p.time().minute, p.time().second, p.time().microsecond
    aa, bb, cc, dd = q.time().hour, q.time().minute, q.time().second, q.time().microsecond
    t1_secs = 0.000001*d + c + 60 * (b + 60*a)
    t2_secs = 0.000001*dd + cc + 60 * (bb + 60*aa)
    return( t2_secs - t1_secs)
df['time_diff']=''
# using the above function and store the time difference in a column
for i in range(len(df)-1):
    df['time_diff'][i] = diff_times_in_seconds(df['time'][i],df['time'][i+1])
df=df.rename(columns={'time_diff': 'Duration(Sec)'})
df = df[['Window', 'Duration(Sec)', 'time']]

c:\users\z003ww7c.ad001\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [47]:
df.head()

,Window,Duration(Sec),time
0,abc,1.01362,2020-05-14 15:11:02.058370
1,Ideal,11.0143,2020-05-14 15:11:03.071987
2,HM3H - Capcity - Excel,17.0127,2020-05-14 15:11:14.086298
3,Meet - Capacity Overview Review session - Goog...,3.00695,2020-05-14 15:11:31.098990
4,Ideal,1.005,2020-05-14 15:11:34.105939

# Step 2: CHART 1
1. Create a datafrme which cab be used to plot chart, in same way way as we do in excel. Alternative suggesion are welcome
2. Convert Datasheet into list

# Step 3: CHART 2
1. Create a datafrme for each section of Pie-chart which cab be used to plot chart, in same way way as we do in excel. Note Every item will be poltted. Alternative suggesion are welcome
2. Convert Datasheet into list

# Improvement
1. Add datewise Filter
2. When logs are created for months innovative ways has to be thaught of to report